.highlightComponent {
    background-color: var(--light-orange);
    font-family: var(--boldItalic);
    font-size: 14px;
    line-height: 180%;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}